@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply py-1.5 px-4 rounded-lg shadow-md disabled:opacity-50;
    }

    .btn-sm {
        @apply text-sm py-1 px-2 rounded-lg shadow-md disabled:opacity-50;
    }

    .btn-primay--outline {
        @apply bg-transparent bg-white text-blue-500 border border-blue-500 hover:bg-blue-500 hover:text-white;
    }

    .btn-primary {
        @apply text-white bg-blue-500 hover:bg-blue-700;
    }

    .btn-info--outline {
        @apply bg-transparent bg-white text-gray-500 border border-gray-500 hover:bg-gray-500 hover:text-white;
    }

    .btn-warning {
        @apply text-white bg-red-500 hover:bg-red-700;
    }

    .link {
        @apply text-blue-400 underline cursor-pointer;
    }

    .text-input {
        @apply shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-200;
    }
}

.comment-card-border-parent:hover .comment-card-border {
    background-color: rgb(59, 130, 246);
}

.render-html h1 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.render-html h2 {
    font-size: 1.1rem;
    margin: 0.75rem 0;
}

.render-html h3 {
    font-size: 1.05rem;
    margin: 0.5rem 0;
}

.render-html ul {
    list-style-type: circle;
}

.render-html ol {
    list-style-type: decimal;
}

.render-html li {
    margin-left: 1rem;
}
